@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Jost:ital,wght@0,500;0,600;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color: #421ba3d0;

}
.todoPAge{
    display: flex;
    width: 700px;
    height: 400px;
    margin: 60px auto;
    flex-direction: column;
    padding-top: 80px;
    flex-wrap: wrap;
    background-color: rgba(214, 76, 76, 0.4);
    box-shadow:  black -10px 10px 100px ;
    border-radius: 100px;
    align-items: center;
    text-align: center;
  
}
.inch
{
    font-size: 1.3rem;
    width: 80%;
    margin:0 10% 0 0;
}
.feet{
    font-size: 1.3rem;
    width: 80%;
    margin:0px 10% 0 0;
}
input{
    height: 60px;
    font-size: 1rem;
    margin: 10px 50px 10px 10px;
    border-radius: 30px;
    background-color: aliceblue;
    border: black 2px solid;
    box-shadow: inset rgb(131, 131, 131) -10px 10px 40px , rgba(0, 0, 0, 0.414) 10px 10px 10px ;
    color: black;
    width: 500px;
    padding: 0 10px 0 10px;
}
h2{
    margin: 20px 50px 10px 0;
    font-size: 2rem;
}
h1{
    margin: 20px 50px 10px 0;

    font-size: 3.5rem;
}

@media screen and (max-width: 900px) {input{
  
}
h2{
    margin: 10px 50px 10px 10px;
    font-size: 1rem;
}
h1{
    margin: 10px 50px 10px 10px;
    font-size: 1.5rem;
}
#inch{
    margin: 10px;
    width: 200px;
    height: 20px;
    }
    #feet{
        margin: 10px;
        width: 200px;
        height: 20px;
        }
        input{
            height: 60px;
            font-size: 1rem;
            width: 200px;}
}